<html>
    <head></head>
    <body>
        <form method="post" action="/login">
            <label>用户名</label>
            <input name="username"></input>
            <label>密码</label>
            <input name="password" type="password"></input>
            <input class="button" type="submit" value="登录">
        </form>
    </body>
</html>
